*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5287cc;
    position: relative;
    padding: 0 10px;
}

#list{
    width: 70%;
    margin: 0 auto;
}

a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    left: 0;
    bottom: -10px;
    width: 0;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;
}

body{
    display: grid;
    grid-template-rows: 0.05fr 0.10fr 0.5fr 0.10fr;
    grid-template-areas:
        "nav"
        "header"
        "article"
        "footer";
    background-color: white;
    border-left: 1em solid #4d83db;
    border-right: 1em solid #4d83db;
}


#nav{
    grid-area: nav;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 1.5625em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#header{
    grid-area:header;
    display: grid;
    place-items: center;
    font-size: 1.5625em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}

#article{
    grid-area: article;
    font-size: 1.25em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5% 5% 5% 5%;
    color:  #2a2b2b;
    text-indent: 3.125em;
    letter-spacing: 0.125em;
    text-align: justify;
    line-height: 2.5em;
    margin: 0 auto;
    width: 70%;

}

#footer{
    grid-area: footer;
    background: grey;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 1.2em;
    width: 98%;
    margin: 2% auto;
    border-radius: 4em;
}