*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5287cc;
}

a:hover{
    background: grey;
}

body{
    display: grid;
    grid-template-rows: 0.05fr 0.10fr 0.5fr 0.10fr;
    grid-template-areas:
        "nav"
        "header"
        "article"
        "footer";
    background-color: white;
}


#nav{
    grid-area: nav;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 1.5625em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#header{
    grid-area:header;
    display: grid;
    place-items: center;
    font-size: 1.5625em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;

}
#article{
    grid-area: article;
    font-size: 1.25em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5% 5% 5% 5%;
    color:  #2a2b2b;
    text-indent: 3.125em;
    letter-spacing: 0.125em;
    text-align: justify;
    line-height: 2.5em;
    margin: 0 auto;
    width: 70%;

}

#footer{
    grid-area: footer;
    background: grey;
    display: grid;
    place-items: center;
}