*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    padding-left: 5%;
    padding-top: 5%;
}

section h2{
    padding-bottom: 2%;

}
body{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1.1fr;
    grid-template-areas:
        "header"
        "element1"
        "element2"
        "element3"
        "element4"
        "element5"
        "footer";
    background: #8291ab;
}

td{
    vertical-align: baseline;
    text-align: center;
}

a{
    text-decoration: none;
    color: orange;
    font-size: 1.1253m;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover{
    background-color: #767782;
}

header{
    grid-area: header;
    background: linear-gradient(#2586ba, #cc9741);
   
}

h2{
    color: #083354;
    font-size: 1.5625em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.center{
    display: grid;
    place-items: center;
    height: 100%;

}



#headertext{
    font-size: 3.125em;
    color:  #f2f0f0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 4px 5px black;

}

time{
    font-size: 1.125em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.indent{
    text-indent: 5em;
}

#blogaim{
    grid-area: element1;
}

#blogr6{
    grid-area: element2;
}

#blogbf{
    grid-area: element3;

}

#blogpc{
    grid-area: element4;
   
}

#blogdev{
    grid-area: element5;
    padding-bottom: 5%;
   
}

tr{
    display: flex;
    align-items: center;
}

footer{
    grid-area: footer;
    background: #858181;
    display: grid;
    place-items: center;
}