*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    padding-left: 5%;
    padding-top: 5%;
}

section h2{
    padding-bottom: 2%;

}
body{
    display: grid;
    grid-template-rows: 1.4fr 1fr 1fr 1fr 1fr 1fr 0.8fr;
    grid-template-areas:
        "header"
        "element1"
        "element2"
        "element3"
        "element4"
        "element5"
        "footer";
}

td{
    vertical-align: baseline;
    text-align: center;
    line-height: 3em;
}


a{
    text-decoration: none;
    color:  #5287cc;
    font-size: 1.1253em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 0 10px;
}

a:after{
    content: "";
    position: absolute;
    background-color:  #ff3c78;;
    height: 3px;
    left: 0;
    bottom: -10px;
    width: 0;
    transition: 0.3s;

}

a:hover:after{
    width: 100%
}

header{
    grid-area: header;
    width: 100%;
    margin: 0 auto;
    background-image: urL("cool-background.png");
    background-size: 70%
   
   
}

#headeranimationh1{
    color: transparent;
    background-image: linear-gradient(to left, #9332a8, #374cab, #b5485e, #3ba8ad, #e08e22);
    -webkit-background-clip: text;
    animation: slideh1 1s ease-in 1,  colorchangeh1 10s linear 0.5s infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}

h2{
    color: black;
    font-size: 1.5625em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.center{
    display: grid;
    place-items: center;
    height: 100%;

}

#headertext{
    font-size: 3.125em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

time{
    font-size: 1.125em;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.indent{
    text-indent: 5em;
}

#blogaim{
    grid-area: element1;
}

#blogr6{
    grid-area: element2;
}

#blogbf{
    grid-area: element3;

}

#blogpc{
    grid-area: element4;
   
}

#blogdev{
    grid-area: element5;
    padding-bottom: 5%;
   
}

tr{
    display: flex;
    align-items: center;
}

footer{
    grid-area: footer;
    background: #858181;
    display: grid;
    place-items: center;
    width: 98%;
    margin: 3% auto;
    border-radius: 4em;
    font-size: 1em;
}

@keyframes slideh1{
    0%{
      transform: skewX(53deg) translateX(-100%);
      color: white;
    }

    100%{
        transform: skewX(0deg);
    }
}

@keyframes colorchangeh1{
    0%{
        background-position: 0 100%;
    }

    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}